:root {
  --headline-font: "Anton", sans-serif;
  --default-font: "Poppins", sans-serif;
  --highlight-color: #22499a;
  --primary-color: #cecec6;
  --secondary-color: #000000;
}

.landing img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
  text-align: center;
  font-weight: bold;
}

.work {
  background-color: var(--primary-color);
}

.work p {
  font-family: var(--default-font);
  text-align: center;
  padding: 10px 20%;
}

.blue {
  color: var(--highlight-color);
}

.about {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: justify;
  font-family: var(--default-font);
  font-size: 20px;
}

.contact {
  background-color: var(--highlight-color);
  color: var(--primary-color);
  font-family: var(--default-font);
  font-size: 20px;
  text-align: center;
}

.contact a {
  text-decoration: none;
  font-size: 50px;
}
