:root {
  --headline-font: "Anton", sans-serif;
  --default-font: "Poppins", sans-serif;
  --handwritten-font: "Qwitcher Grypen", cursive;
  --primary-color: #cecec6;
  --secondary-color: #000000;
  --highlight-color: #22499a;
  --neon-color: #c6e2ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

a:hover {
  color: var(--neon-color);
}

nav {
  background-color: var(--secondary-color);
  font-family: var(--handwritten-font);
  font-weight: bold;
  font-size: 40px;
  animation: neon 0.08s ease-in-out infinite alternate;
  padding: 15px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 20px;
  padding: 0 18px;
}

.active {
  color: var(--neon-color);
}

.landing img {
  width: 100%;
}

.black-section {
  background-color: var(--secondary-color);
  font-family: var(--default-font);
  color: var(--primary-color);
  text-align: center;
}

.black-section p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

.blue {
  color: var(--highlight-color);
  font-weight: bold;
}

.photo img {
  box-shadow: 0 0 6px rgba(202, 228, 225, 0.98);
}

.job {
  font-family: var(--handwritten-font);
  font-weight: bold;
  font-size: 50px;
  color: var(--neon-color);
  animation: neon 0.08s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}

.beige-section {
  background-color: var(--primary-color);
}

.beige-section p {
  color: var(--secondary-color);
  text-align: justify;
  font-family: var(--default-font);
  font-size: 20px;
}

.blue-section {
  background-color: var(--highlight-color);
  color: var(--primary-color);
  font-family: var(--default-font);
  font-size: 20px;
  text-align: center;
}

.icon {
  font-size: 60px;
  margin-bottom: 10px;
}

footer p {
  margin: 0;
}

@media (max-width: 900px) {
  nav {
    font-size: 30px;
  }

  #work-quotes {
    padding-left: 30px;
    padding-right: 30px;
  }

  .black-section {
    font-size: 1rem;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .photo {
    margin-bottom: 30px;
  }

  #machu-picchu {
    margin-top: 20px;
  }

  .blue-section {
    font-size: 15px;
  }

  .icon {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  #machu-picchu {
    margin-left: 30px;
  }
}
